<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div >
    <ion-item>
      <ion-input type="text" placeholder="Usuario" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="pass"></ion-input>
    </ion-item>
  </div>

  <button ion-button color="secondary" full (click)="verificar()">Verificar</button>

  <ion-buttons end>
    <button ion-button icon-only (click)="addSong()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list>
    <ion-item *ngFor="let song of songs | async" (click)="showOptions(song.$key, song.title)">
      {{song.title}}
    </ion-item>

    <ion-item *ngFor="let usuario of usuarios | async" (click)="showOptions(usuario.$key, usuario.email)">
     id: {{usuario.id}} <br>
     usuario: {{usuario.nombre}}<br>
     clave: {{usuario.clave}}<br>
     perfil: {{usuario.perfil}}<br>
     sexo: {{usuario.sexo}}
    </ion-item>
  </ion-list>


</ion-content>